:8080 {
  redir /private-query /private-query/ 308

  @privateQuery path /private-query/*
  handle @privateQuery {
    reverse_proxy private-query:8080
  }

  handle {
    reverse_proxy app:3000 {
      header_up X-Suishou-Client-IP {remote_host}
    }
  }
}
